{
  "parser": "babel-eslint",
  "extends": [
    "airbnb", 
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react"],
  "rules": {
    "no-console": 0,
    "class-methods-use-this": 0,
    "ignoreComments": true,
    "no-unused-vars": 1,
    "no-trailing-spaces": 0,
    "import/prefer-default-export": 0,
    "arrow-body-style": 0,
    "space-before-blocks": 0,
    "eol-last": 0,
    "no-param-reassign": 0,
    "prefer-destructuring": 0,
    "import/no-extraneous-dependencies": 0,
    "prefer-const": 1,
    "no-plusplus": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/label-has-for": 0,
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/display-name": 0,
    "import/no-unresolved": 1,
    "import/extensions": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-max-props-per-line": 0,
    "import/no-dynamic-require": 0,
    "jsx-a11y/anchor-is-valid": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "console": true,
    "_": true,
    "GIT": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/config.base.js"
      }
    }
  }
}
