@import './vendors/normalize';
@import './vendors/simple-grid';
@import './placeholders/index';
@import './mixins/index';
@import './variables';
@import './fonts/index';

html, body {
  background: #f9f9f9;
}

* , *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  max-width: 620px;

  &__title {
    font-family: 'Space Mono';
    font-style: italic;
    display: inline-block;
    width: calc(100% - 110px);

    @media only screen and (max-width: 450px) {
      width: 100%;
      text-align: center;
    }
  }

  &__links {
    display: inline-block;
    width: 110px;
    text-align: right;

    @media only screen and (max-width: 450px) {
      width: 100%;
      text-align: center;
    }
  }
}

.header {
  display: block;
  text-align: center;
  padding: 15px 0;
}

.footer {
  display: block;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

.logo {
  display: block;

  &__icon {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    fill: #333;
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
  }

  &__title {
    font-family: 'Grayson';
    display: block;
    text-transform: uppercase;
    font-size: 32px;
    color: #333;
  }

  &__description {
    font-family: monospace;
    font-weight: normal;
    display: block;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: -9px;
    color: #333;
  }
}

input,
textarea,
select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 13px;

  &:focus {
    outline: 0;
  }
}

label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.label {
  $self: &;
  &__title { 
    font-weight: 600;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  &--error {
    #{$self}__title {
      color: $colorWarning;
    }

    #{$self}__field {
      border-color: $colorWarning;
    }

    #{$self}__error {
      color: $colorWarning;
      font-size: 12px;
      letter-spacing: 1px;
      padding-left: 5px;
    }
  }
}

input {
  &[type="file"]{
    display: block;
    width: 100%;
    height: 38px;
    margin: 0;
    position: relative;
    padding: 6px 10px;
  }
}

@include inputOptionTypes{
  margin: 0;

  & + label{
    display: inline-block;
    margin-left: 6px;
    margin-right: 0.88889rem;
    margin-bottom: 0;
    vertical-align: baseline;
  }
}

.checkbox {
  $field_size: 16px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 5px;

  &__field {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: $field_size;
    height: $field_size;

    &:focus{
      outline: 0;
  
      &:before{
        border: 1px solid $colorBlue;
        outline: 0;
      }
    }

    &:checked{
      &:after{
        opacity: 1;
      }
    }

    &:before{
      content: "";
      width: $field_size;
      height: $field_size;
      background: #FFF;
      pointer-events: none;
      display: inline-block;
      border: 1px solid #D1D1D1;
      top: 1px;
      @extend %centerElement;
    }
  
    &:after{
      content: '';
      width: 5px;
      height: 8px;
      opacity: 0;
      display: block;
      pointer-events: none;
      transform: rotate(45deg);
      border-bottom: 2px solid $colorBlue;
      border-right: 2px solid $colorBlue;
      top: -1px;
      left: 1px;
      @extend %centerElement;
    }
  }
  
  &__label {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
  }
}

.radio {
  $field_size: 16px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 5px;
  
  &__field {
    display: inline-block;
    outline: 0;
    width: $field_size;
    height: $field_size;
    position: relative;
    vertical-align: middle;

    &:focus{
      &:before{
        border: 1px solid $colorBlue;
        outline: 0;
      }
    }
  
    &:checked {
      &:before {
        border-color: $colorBlue;
        background: $colorBlue;
      }
  
      &:after {
        opacity: 1;
      }
    }
  
    &:before {
      content: "";
      width: $field_size;
      height: $field_size;
      background: #FFF;
      display: inline-block;
      border-radius: $field_size;
      border: 1px solid #D1D1D1;
      position: absolute;
      left: 0px;
      top: 0;
      bottom: 0;
    }
  
    &:after {
      opacity: 0;
      content: "";
      width: 6px;
      height: 6px;
      display: inline-block;
      background: #FFF;
      position: absolute;
      border-radius: 19px;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }
  }

  &__label {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
  }
}

@include inputButtonTypes{
  @extend %formatButtons;

  &:hover,
  &:focus {
    @extend %btnNormalHoverFocusStyle;
  }

  &.button-primary{
    @extend %btnStyle;

    &:hover,
    &:focus {
      @extend %btnHoverFocusStyle;
    }
  }
}

.button,
button{
  @extend %formatButtons;
  
  &:hover,
  &:focus{
    @extend %btnNormalHoverFocusStyle;
  }

  &.button-primary{
    @extend %btnStyle;

    &:hover,
    &:focus {
      @extend %btnHoverFocusStyle;
    }
  }
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

hr{
  margin: 20px 0;
}

h4{
  margin: 20px 0 10px 0;
  font-weight: 100;
  font-size: 20px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.text {
  &-center{
    text-align: center;
  }

  &-right{
    text-align: right;
  }

  &-left{
    text-align: left;
  }
}

.hidden{
  display: none;
}

.errors{
  background: #F6DB00;
  padding: 5px 8px;
  margin: 0;

  &__bullet {
    color: #a59200;
  }

  &__message{
    padding-left: 10px;
  }

  li{
    margin: 0;
    list-style: none;
    font-size: 13px;
    line-height: 21px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  strong{
    font-weight: 600;
  }

  span {
    font-weight: 400;
    margin-left: 5px;
  }

  .field {
    color: #ffffff;
    background: #a59200;
    margin-left: 5px;
    padding: 1px 4px;
    font-size: 9px;
    text-transform: uppercase;
    position: relative;
    top: -1px;
  }
}

.first{
  margin-left: 0 !important;
}

.last{
  margin-right: 0 !important;
}

.github {
  &__link {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: rgb(185, 185, 185);
    }
  }

  &__link-icon {
    fill: rgb(128, 128, 128);
    width: 18px;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.package-version{
  padding: 2px 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
}

.col-button{
  text-align: right;
}

.required-fields-info {
  font-size: 13px;
}

@media only screen and (max-width: 45em) {  /* 720px */
  .col-version{
    text-align: center;
  }

  .col-button{
    .button-primary{
      width: 100%;
    }
  }
}
